:root {
    /* variables */
    --fontfamily: Arial, Helvetica, sans-serif;
    --fontvariant: small-caps;
    --sizeTitleNav: 1em;
    --bg-Nav-Footer: rgb(225, 200, 226);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    height: 850px;
    width: 400px;
}

#app {
    position: relative;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "nav"
        "container"
        "footer";
    min-height: 100%;
}

/* header y nav*/
.nav {
    display: block;
    position: absolute;
    grid-area: nav;
    background-color: var(--bg-Nav-Footer);
    padding: 2vh;
    left: 0;
    right: 0;
}

.nav__container {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
        "options title shopCart"
        "navExtens navExtens navExtens";
}

.nav__container-sticky {
    position: sticky;
    top: 0;
    background-color: var(--bg-Nav-Footer);
    z-index: 1;
}

.container__buttonOpt {
    grid-area: options;
}

.buttonOpt__iconNav {
    width: 32px;
    height: 32px;
}

.container__navExtens {
    grid-area: navExtens;
    background-color: var(--bg-Nav-Footer);
    display: grid;
    grid-template-areas:
        "list"
        "searchNav";
}

.navExtens__listExtens {
    grid-area: list;
    margin: 0;
    padding: 0;
}

.listExtens__itemExtens {
    list-style: none;
    margin: 5px;
}

.itemExtens__link {
    text-decoration: none;
}

.navExtens__searchExtens {
    grid-area: searchNav;
}

.searchExtens__inputSearch {
    margin: 3px;
}

.container__title {
    grid-area: title;
    margin-left: 15px;
    font-size: var(--sizeTitleNav);
    font-family: var(--fontfamily);
    font-variant: var(--fontvariant);
}

.container__title>h1 {
    margin: 0;
}

.container__buttonCar {
    grid-area: shopCart;
}

.buttonCar__iconCar {
    width: 32px;
    height: 32px;
}

.buttonCar__counterCar {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgb(101, 255, 242);
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 50px;
}

/* landing-page */
.landing {
    grid-area: container;
    text-align: center;
    position: relative;
    background-image: url(../img/fondopantalla.png);
}

.landing__search {
    position: absolute;
    top: 25%;
    left: 15%;
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 24px;
    background-color: #fafafacb;
    width: 70%;
    border: transparent;
    border-bottom: solid 1px rgba(238, 113, 74, 0.897);
    padding: 10px 10px 10px 30px;
    outline: none;
}

.landing__button {
    position: absolute;
    top: 45%;
    left: 30%;
    border: none;
    border-radius: 10px;
    width: 40%;
    background-color: #3166f8b6;
    color: white;
}

/* landing horari */
.landing__horari {
    position: absolute;
    top: 70%;
    left: 13%;
    background-color: rgb(250, 223, 187);
    border-radius: 15px;
    padding: 20px;
}

.horari__dies {
    padding: 10px;
    background-color: rgb(64, 105, 240);
    color: white;
}

.horari__hores {
    padding: 5px;
    font-size: 17px;
}

/* landing carrusel */
.slider-container {
    width: 400px;
    height: 77%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slider-box {
    margin-top: 15%;
    position: relative;
    /* Agregamos posición relativa al carrusel */
    z-index: 0;
    /* Establecemos el carrusel detrás de los demás elementos */
}

.slider-box ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 15s infinite alternate ease-in-out;
}

.slider-box li {
    width: 100%;
    list-style: none;
    position: relative;
}

.slider-box img {
    width: 100%;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: -1;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

/* shop-page */
.shop {
    margin-top: 20%;
    grid-area: container;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.shop__item {
    /* Estilos comunes para todos los elementos .shop__item */
    background-color: #ccf5ff;
    width: 150px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    /* Espacio entre todos los elementos .shop__item */
}

.item__label {
    font-family: var(--fontfamily);
    font-variant: var(--fontvariant);
    position: absolute;
    bottom: 3px;
    left: 5px;
    width: 140px;
    height: 20px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
    background-color: rgba(1, 78, 97, 0.801);
    color: #fff;
    border: none;
    border-radius: 20px;
    margin-top: 2px;
}

.item__buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
}

.buttons__more {
    width: auto;
    height: auto;
    margin: 3px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 47, 255);
    color: #fff;
}

.item__image {
    width: 130px;
    height: 170px;

}
.product-image.with-transition {
    transition: transform 0.3s ease; 
    transform-origin: center;
}




/* shop-ticket */
.ticket {
    position: absolute;
    right: 0;
    top: 70px;
    z-index: 999;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "title"
        "account";
    color: rgb(48, 48, 48);
    background-color: #bbf1ff;
}

.ticket__title {
    grid-area: title;
    font-family: var(--fontfamily);
    font-variant: var(--fontvariant);
    text-align: center;
    position: sticky;
    top: 1px;
}

.ticket__account {
    grid-area: account;
    display: grid;
    grid-template-areas:
        "itemCart"
        "total";
    font-family: var(--fontfamily);
    font-variant: var(--fontvariant);
    text-align: center;
}

.account__item {
    grid-area: itemCart;
    margin: 10px;
}

.account__total {
    grid-area: total;
    background-color: #76d1e7;
    margin-left: 0;
}

.account__buttonCheck {
    background-color: #76d1e7;
    padding-top: 5px;
    padding-bottom: 5px;
}

.buttonCheck__checkBuy {
    display: inline-block;
    background-color: #ff6e6e;
    /* Rojo */
    color: #FFFFFF;
    /* Texto blanco */
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.div__itemCart,
.account__total {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-template-areas: "img name counter price btn";
}

.itemCart__image {
    grid-area: img;
    width: 32px;
    height: 32px;
    padding-top: 7px;
}

.itemCart__name,
.total__name {
    grid-area: name;
}

.itemCart__price,
.total__price {
    grid-area: price;
}

.itemCart__counter,
.total__items {
    grid-area: counter;
}

.itemCart__btnless {
    grid-area: btn;
    width: 30px;
    height: 30px;
    margin-top: 7px;
    border: none;
    border-radius: 50%;
    background-color: rgb(255, 69, 69);
    color: #fff;
}

/* check-page */
.check {
    grid-area: container;
    margin-top: 10%;
}

.check__formContainer {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 40px;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.2);
    margin-top: 10%;
    margin-left: 25px;
    margin-right: 25px;
}

.formContainer__title {
    font-family: var(--fontfamily);
    font-variant: var(--fontvariant);
    color: #000000;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form__labelNom,
.form__labelCognoms,
.form__labelDomicili,
.form__labelEmail {
    font-family: var(--fontfamily);
    margin: 5px;
    font-weight: bold;
}

.form__inputNom,
.form__inputCognoms,
.form__inputDomicili,
.form__inputEmail {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 15px;
}

.form__btn {
    margin-top: 15px;
    background-color: #d9dfe6;
    /* Color de fondo del botón */
    color: #fff;
    /* Color del texto del botón */
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 25px;
    font-family: var(--fontfamily);
}

.check__resumTicket {
    display: grid;
    grid-template-columns: 3fr 5fr 1fr 1fr;
    grid-row: 2fr auto 1fr;
    grid-template-areas:
        "title title title title"
        "item item item item"
        "totalTitle . . totalPrice";
    margin: 7%;
    padding: 2%;
    background-color: #cae3ff;
    border-radius: 25px;
}

.resumTicket__title {
    grid-area: title;
    font-family: var(--fontfamily);
}

.containerItemResum {
    grid-area: item;
}

.resumTicket__itemTicket {

    display: grid;
    grid-template-columns: 3fr 5fr 1fr 1fr;
    grid-template-areas:
        "image name counter price";
    font-family: var(--fontfamily);
}

.itemTicket__image {
    grid-area: image;
    height: 100%;
    width: 80%;
}

.itemTicket__name {
    grid-area: name;
}

.itemTicket__counter {
    grid-area: counter;
}

.itemTicket__price {
    grid-area: price;
    color: red;
}

.resumTicket__totalTitle {
    grid-area: totalTitle;
    font-family: var(--fontfamily);
}

.resumTicket__totalPrice {
    grid-area: totalPrice;
    font-family: var(--fontfamily);
}

/* status-page */
.status {
    margin-top: 200px;
}

.status__search {
    width: 40%;
}

/* admin */
.config__admin {
    background-image: url("https://img.freepik.com/premium-photo/white-background-white-texture-background-banner-pattern-texture-abstract-clean-grunge-white_873925-75888.jpg");
}

.admin {
    margin-top: 200px;
}

/* Estilo para el botón 3D */
.btn {
    margin-left: 4px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-color: #99998e;
    padding: 12px 23px;
    border: solid #030303 2px;
    box-shadow: rgb(0, 0, 0);
    border-radius: 50px;

    align-items: center;

}

.boton-guardar {
    background-color: #4CAF50;
    /* Color de fondo */
    color: white;
    /* Color del texto */
    border: none;
    /* Sin borde */
    padding: 10px 20px;
    /* Relleno (padding) del botón */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* Tamaño del texto */
    margin: 10px 2px;
    /* Márgenes exteriores */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
    border-radius: 5px;
    /* Bordes redondeados */
}

.boton-guardar:hover {
    background-color: #45a049;
    /* Cambia el color de fondo al pasar el mouse */
}

.login_div {
    background-color: lightcoral;
    margin-top: 170px;
}

/* Efecto 3D al pasar el cursor sobre el botón 
  .admin-buttons {
    display: flex;
    justify-content: center; 
    align-items: center;   
    height: 100vh;         
}*/

.orderadmin {
    margin-top: 200px;
}

.productadmin {
    margin-top: 200px;
}

.titleOrder {
    text-align: center;
}

.titleProduct {
    text-align: center;
}

.orderedit {
    margin-top: 150px;
}

/* footer */
.footer {
    grid-area: footer;
    background-color: var(--bg-Nav-Footer);
    bottom: 0;
    padding: 20px;
    /* Aumenta el espacio vertical del footer */
    text-align: center;
    z-index: 1;
    /* Asegura que el footer esté en la parte inferior */
    /* margin-top: -50px; */
}

/*Pagina Login Register*/
.login {
    background-image: url("https://wallpapers.com/images/featured/light-blue-2iuzyh711jo9bmgo.jpg");
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}


.login form {
    width: 200px;
    background-color: rgba(51, 49, 49, 0.11);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.918);
    padding: 50px 35px;
}

.login form * {
    color: #222020;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.login form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.login label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.login input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #1a1919;
}

.login button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.box{
    background-color: #218d98;
    height: 100px;
    width: 100px;
  }
  
  .transform{
    transition: all 2s ease;
  }
  
  .transform-active{
    background-color: #45cee0;
    height: 200px;
    width: 200px;
  }
.register button {
    margin-left: 80%;
    width: 30%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}
.usuari {
    background-image: url("https://media.istockphoto.com/id/1299712614/photo/the-gray-and-silver-are-light-black-with-white-the-gradient-is-the-surface-with-templates.webp?b=1&s=170667a&w=0&k=20&c=QgjMdwWukiTPJV-8mm2VrVtwMgu5QEpeHeBvxXaBIzA=");
}
.register{
    margin-top: 200px;
}
.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

.register form {
    
    width: 200px;
    background-color: rgba(51, 49, 49, 0.11);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.918);
    padding: 50px 35px;
}

.register form * {
    color: #222020;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.register form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.register label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.register input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #1a1919;
}

.register button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.footer__title {
    font-family: var(--fontfamily);
    font-variant: var(--fontvariant);
    text-align: center;
    font-size: 15px;
}

.footer__img {
    margin-top: 10px;
    width: 27px;
    height: 27px;
    padding: 5px;
    margin-bottom: -10px;
}
/* TRANSICION*/
.hamburger__toggle{
    display:block;
    position: relative;
    background-color:#3d3d3d;
    width: 60px; 
    height: 60px; 
    margin:50px auto;
    border-radius:50%;
    border:none;
  }
  
  /* give the span element and related pseudo-elements the appearance of white lines */
  .hamburger__icon,
  .hamburger__icon::before,
  .hamburger__icon::after {
    position: absolute;
    width: 30px; 
    height: 2px;
    border-radius: 4px;
    background-color: white;
  }
  
  /* center the span element in the middle of its containing button */
  .hamburger__icon {
    top: calc(50% - 2px);
    left: calc(50% - 15px);
  }
  
  /* position the two pseudo-elements to the very left */
  .hamburger__icon::before,
  .hamburger__icon::after {
    content: "";
    left: 0;
  }
  
  /* this is the top dash of the hamburger */
  .hamburger__icon::before {
    bottom: 8px;
  }
  
  /* this is the bottom dash of the hamburger */
  .hamburger__icon::after {
    top: 8px;
  }
  
.toggled .hamburger__icon {
    width: 33px; /* Ajusta el ancho según tu diseño */
    height: 5px; /* Ajusta la altura según tu diseño */
    left: 20px;
    top: 30px; /* Ajusta la posición vertical según tu diseño */
    bottom:23px;
    transform: rotate(-219deg);
    background-color: green; /* Establece el color de fondo a verde */
    position: absolute;
}

/* rotate bottom dash of hamburger counter clockwise */
.toggled .hamburger__icon::after {
    width: 22px; /* Ajusta el ancho según tu diseño */
    height: 5px; /* Ajusta la altura según tu diseño */
    left: 20px;
    top:10px; /* Ajusta la posición vertical según tu diseño */
    bottom: 59px;
    transform: rotate(-280deg);
    background-color: green; /* Establece el color de fondo a verde */
    position: absolute;
}

  
  /* hide the top dash by scaling it to 0 */
  .toggled .hamburger__icon::before {
    transform: scale(0);
  }
  
  /* TRANSITION */
  /* adjust duration to see it happen slower */
  .hamburger__icon, .hamburger__icon::after {
    transition: all 0.3s linear;
  }